name: jsbench
description: >
  Dart->JS Size and Performance Tool
version: 0.2.1
authors:
  - Matan Lurey <matanl@google.com>
homepage: https://github.com/matanlurey/jsbench.dart

environment:
  sdk: ">=2.0.0-dev <2.0.0"

dependencies:
  archive: ^1.0.30
  args: ">=0.13.7 <2.0.0"
  kilobyte: ^0.1.0
  glob: ^1.1.5
  path: ^1.0.0

dev_dependencies:
  test: ^0.12.0

executables:
  jsbench:

# Added just so we are able to `pub build` the example folder.
transformers:
  - $dart2js:
      commandLineOptions:
          - --dump-info
          - --trust-type-annotations
          - --trust-primitives
